/* general styles */
body {
    margin: 0;
    padding: 10px;
    font-family: "Open Sans", sans-serif;
    background-color: #F6F1F1;
}

img {
    border: 1px solid #FEE8B0;
    border-radius: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 50px;
    height: 50px;
}

h4 {
    color: #B04759;
    margin-top: 100px;
    margin-left: 100px;
    font-size: 14px;
}

hr {
    border: 2px dotted #B04759;
    border-radius: 3px;
}

.button {
    font-weight: 600;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    background: #B04759;
    color: #FEE8B0;
    padding: 5px;
    width: 60px;
    cursor: pointer;
}

/* header styles */
#header {
    display: flex;
    align-items: center;
    margin: 5px 0;
    border: 1px solid #FEE8B0;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #B04759;
    color: #FEE8B0;
    position: fixed;
    top: -4px; 
    width: 99%;
}

#logo {
    margin-right: 60px;
    margin-left: 10px;
}

h2 {
    font-family: Georgia;
    font-weight: bold;
    font-style: italic;
    font-size: 25px;
}

#nav {
    display: flex;
    margin-left: 300px;
}

#nav a {
    margin-right: 20px;
    text-align: center;
    text-decoration: none;
    background: #D8C2C2;
    color: #B04759;
    width: 80px;
}

#quote {
    margin-left: 350px;
    margin-right: 30px;
    text-align: center;
    font-size: 15pt;
    font-weight: 600;
    padding: 4px;
    font-family: Georgia;
}

#images {
    display: flex;
}

#images img {
    margin-left: 10px;
}

/* section styles */
#section {
    margin: 100px 120px 0 20px;
    display: flex;
    align-items: center;
}

#abertay {
    width: 440px;
    height: 220px;
    margin-left: 120px;
    border-radius: 3%;
}

/* connect form styles */
#form_input {
    font-size: 14px;
}

.input {
    border: 1px solid #B04759;
    border-radius: 5px;
    height: 15px;
    padding: 5px;
    font-size: 12px;
    width: 300px;
}

#button_input {
    margin-left: 342px;
}

/* friends form styles */
#form_delete {
    font-size: 14px;
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
}

#data {
    position: relative;
}

#button_delete {
    position: absolute;
    left: 360px;
}

/* footer styles */
#footer {
    padding: 15px;
    background: #B04759;
    position: fixed;
    bottom: 4px; 
    width: 97.5%;
    height: 70px;
    display: flex;
    align-items: center;
    font-size: 17px;
    font-weight: bold;
}

#footer a {
    color: #FEE8B0;
    font-weight: bold;
    text-decoration: none;
    margin-right: 750px;
    margin-left: 50px;
    font-family: Georgia;
}
