html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 100px;
    font-family: "Open Sans", sans-serif;
    background-color: #000000;
    color: #ffffff;
}

.hr {
    border: 2px dotted #dd4b39;
    margin-bottom: 1rem;
}

.button {
    font-weight: 600;
    font-size: 14px;
    border-radius: 5px;
    background: #0097ca;
    padding: 5px;
    width: 70px;
    cursor: pointer;
    display: block;
}
.button:hover {
    opacity: 0.6;
}

/* header styles */
#header {
    background-color: #00688a;
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%;
    height: 70px;
    z-index: 50;
    padding: 5px;
}

#logo {
    margin-left: 10px;
    box-shadow: 4px 4px 8px 4px #dd4b39;
}

#header h2 {
    font-family: Georgia;
    font-weight: bold;
    font-style: italic;
    font-size: 25px;
    text-decoration: underline;
}

#quote {
    font-size: 15pt;
    font-weight: 600;
    font-family: Georgia;
}

.home {
    width: 40px;
    text-align: center;
    box-shadow: 0 1px 4px 0 #000000;
    border-radius: 5px;
    background: #0097ca;
    cursor: pointer;
    display: block;
    padding: 2px;
}

.home:hover {
    opacity: 0.6;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#offcanvas {
    background-color: #00688a;
    color: #ffffff;
    height: fit-content;
}

.offcanvas-body a {
    text-decoration: none;
}

.aside {
    display: flex;
    align-items: center;
    font-size: 13px;
    margin-top: 20px;
    color: #ffffff;
}

.menu {
    width: 60px;
    margin-right: 5px;
}

.aside:hover {
    color: #0097ca;
    cursor: pointer;
}

.line {
    border: 2px dotted black;
}

/* home page styles */
.main {
    padding: 100px 80px;
}

#items {
    background-color: #00688a;
    padding: 0 20px 20px;
    margin-top: 40px;
} 

.gallery {
    display: flex;
    align-items: center;
    position: relative;
    padding-top: 20px;
  }
  
.gallery:hover {
    color: #0097ca;
    cursor: pointer;
    opacity: 0.6;
}
  
.gallery img {
    width: 280px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 1px 4px 0 #000000;
}

#span {
    position:absolute; 
    width:100%;
    height:100%;
    top:0;
    left: 0;
    z-index: 1;
}

#more {
    color: #0097ca;
    font-weight: bold;
}
  
.desc {
    padding: 10px;
    margin-left: 20px;
    width: 740px;
}

/* article styles */
.section {
    margin-top: 50px;
}

.article {
    background-color: #00688a;
    padding: 20px;
    height: fit-content;
}

ul {
    line-height: 180%;
}

#autoskip {
    width: 450px;
    height: auto;
    margin-bottom: 20px;
}

.graph {
    width: 600px;
}

#table {
    margin-top: 30px;
    margin-bottom: 30px;
}

#float {
    float: right;
}

#space {
    width: 400px;
    margin-left: 10px;
}

.figcaption {
    font-style: italic;
    font-size: 14px;
    margin-top: 5px;
}

/* ads block styles */
@keyframes moveToLeft {
    0% {transform: translateX(300px);}
    100% {transform: translateX(0px);}
}

@keyframes appear {
    0% {opacity: 0.1;}
    100% {opacity: 1;}
}

.ads {
    background-color: rgb(45, 83, 97);
    overflow: auto;
    padding: 30px;
    height: 1500px;
}

#tips {
    display: flex;
    align-items: center;
}

#tips1 {
    width: 220px;
    animation: moveToLeft 1s ease-in-out;
}

#tips2 {
    font-family: Georgia;
    font-size: 25px;
    text-align: center;
    animation: moveToLeft 2s ease-in-out;
    margin-left: 10px;
}

#tips3 {
    animation: appear 4s ease-in-out;
    margin: 20px 0;
}

#tips4 {
    animation: appear 6s ease-in-out;
}

/* comments styles */
#form {
    font-size: 14px;
    margin-top: 70px;
    position: relative;
    margin-bottom: 60px;
}

#form h4 {
    color: #0097ca;
}

#button_post {
    position: absolute;
    bottom: -45px;
    right: 0;
    color: #ffffff;
}

#title {
    color: #0097ca;
    font-size: 18px;
}

#block {
    font-size: 14px;
    margin-bottom: 20px;
    display: flex;
    align-items: center; 
}

#block img {
    background-color: #0097ca;
    margin-right: 20px;
}

#commenter {
    color: #0097ca;
}

#comment {
    word-break: break-all;
}

/* footer styles */
#footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0; 
    height: 90px;
    overflow: hidden;
    padding: 15px 15px 15px 65px;
    background: #00688a;
    font-size: 17px;
    font-weight: bold;
}

#footer a {
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    font-family: Georgia;
}

/* small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
    #header h2 {
        font-size: 17px;
    }

    .home {
        width: 35px;
    } 

    .main {
        padding: 100px 25px;
    }

    .gallery img {
        width: 200px;
    }

    .about, .desc, .main p, .main ul, .article ul, .ads p, #tips3 {
        font-size: 14px !important;
    }

    #autoskip {
        width: 200px !important;
    }

    #tips1 {
        width: 90px !important;
    }
    
    .graph {
        width: 250px !important;
    }

    #table {
        font-size: 13px;
    }

    #footer {
        font-size: 14px;
        height: 130px !important;
    }

    #footer br, #float {
        display: none;
    }
}

/* medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
   .ads {
        height: 500px !important;
    }
   
    #autoskip {
        width: 400px;
    }

    #tips1 {
        width: 180px;
    }

    #tips2 {
        font-size: 20px;
    }

    .graph {
        width: 400px;
    }

    #space {
        width: 300px;
    }
}

/* large devices (desktops, 992px and up) */
@media (max-width: 992px) {
    .about, .desc {
        font-size: 15px;
        margin-left: 0 !important;
    }

    .gallery {
        flex-wrap: wrap;
    } 
    
    .carousel-caption {
        font-size: 14px;
    }
    
    #footer {
        height: 110px;
        color: #002E3D;
    }
    
    #footer a {
        margin-bottom: 20px;
        color:#ffffff;
    }
}

/* x-large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {
    .ads {
        margin-top: 30px;
        height: 800px;
    }
}

/* xx-large devices (larger desktops, 1400px and up) */
@media (max-width: 1400px) {
    .carousel {
        margin-top: 50px;
    }
}

@media (min-width: 1200px) and (max-width: 1400px) {
    #space {
        width: 300px;
    }
    
    .graph {
        width: 400px;
    }
}
